.Sultan-Container{
position: absolute; top: 10%; left: 38%;

}

.Sultan-Heading{
    position: relative; left: -170px;
}

.Sultan-Media-Container{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 650px;
    position: relative; left: -250px;top: -45px;
    display: flex;
    justify-content: space-between;
}

.Sultan-Social-Media-Logo{
    height: 25px; width: 100px;
}


.Sultan-Boy-Logo{
    height: 50px; width: 50px;
    position: relative; left: 25%; top: -10px;
}

.Sultan-Date-Container{
    position: relative; top: -112px; left: -20px; 
    line-height: 1px;
}

.Sultan-Image{
    box-shadow: 3px 3px 3px black;
    width: 350px; height: 190px;
    position: relative; top: -85px; left: -20px;
}

.Sultan-Image-Name{
    color:rgb(255,0,187);
    position: relative; left: -15%; top: -60px;
    font-size: 18px;
}

.Sultan-Para-Container{
width: 700px;
position: relative; left: -185px; top: -55px;
}

.Sultan-Back-Button{
    padding: 10px;
    color:black;
    background-color: azure;
    border-radius: 20px;
    position: relative; left: -470px; top: -50px;
    cursor: pointer;
}

@media only screen and (max-width:856px){

.Sultan-Heading{
    position: absolute;
    left: -120px;
    width: 350px;
}

.Sultan-line{
    display: none;
}

.Sultan-Media-Container{
    position: absolute;
    top: 130px;
    left: -200px;
    width: 377px;
}

.Sultan-Date-Container{
position: absolute; top: 190px; left: -90px;
display: none;
}


.Sultan-Image{
    position: absolute; left:-110px; top: 190px;
    height: 200px;
    width: 300px;
} 


.Sultan-Image-Name{
    position: absolute; left: -92px; top: 420px;
    width: 310px;
}

.Sultan-Para-Container{
    position: absolute; left: -100px; top: 480px;
    width: 280px;
}

.Sultan-Back-Button{
    position: relative; left: -110px; top: 1400px;

} 

}


